<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 
      express.static tries to find the file __dirname + public + /css/style.css
      so if I gave the link tag a href="../public/css/style.css", it would not work :) 
    -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
  </head>
  <body>
    <p>Index.html :D</p>
  </body>
</html>
